header{
    background-color: #f8f9fa;

    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headercontainer{
    width: 100%;
}
.h1i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.bgmenu{
    width: 100%;
    height: 50px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
.navbar{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    gap: 30px;
}
.navbar :hover{
    background-color: rgba(155, 155, 152, 0.418);
    border-radius: 15px;
    cursor: pointer;
}
.s-bar{
    width: 800px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 16px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.icons-size{
    font-size: 25px;
}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 35px;
}
.bolum-baslik{
    font-size: 30px;
    height: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bolme{
    background-color: #f0f0f0;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    gap: 50px;
}
.icons-size2{
    font-size: 50px;
}
.contenair{
    width:100%;
    height: 600px;
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 50px;
}
.card {
    width: 200px;
    height: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    overflow: hidden;
    position: relative;
    justify-content: center;
    border-radius: 12px;
    gap: 50px;
    padding:0;
    margin:0;
}

.image  {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    padding:0;
}
#heart{
    position: absolute;
    right: 15px;
    top:15px;
}
.text {
    padding: 0;
    margin: 0;
    border-color: brown;
}

h2 {
    font-size: 18px;
    margin-bottom: 16px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forsale {
    font-size: 14px;
    margin: 0;
}

.qiymet {
    font-size: 22px;
    margin: 0;
}

.btn {
    border: 1px solid blue;
    background: white;
    color:blue;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}